* {
  font-family: 'Rubik', sans-serif;
}

#title {
  font-size: 20px;
  padding-top: 10%;
  padding-bottom: 15%;
  margin-left: 25%;
}

.container {
  display: flex;
  flex-direction: row;
}

.left {
  width: 15%;
  background-color: #fafcfc;
}

.evCharger {
  margin-top: 10%;
  margin-left: 33%;
}

.rangking {
  display: flex;
  flex-direction: row;
}

.scale_color {
  margin-left: 25%;
  width: 60px;
  /* border: 1px solid black; */
}

.scale_child {
  height: 15px;
  width: 60px;
  /* border: px solid */
}

.scale_text {

  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.op {
  font-size: 30px;
  margin-bottom: 90%;
}

.minus {
  margin-top: 260px;
  font-size: 40px;
}

#a {
  background-color: #ff0000;
  padding: 1px;
  opacity: 0.7
}

#b {
  background-color: #EE0000;
  padding: 1px;
  opacity: 0.7
}
#c {
  background-color: #dd0000;
  padding: 1px;
  opacity: 0.7
}

#d {
  background-color: #cc0000;
  padding: 1px;
  opacity: 0.7
}

#e {
  background-color: #bb0000;
  padding: 1px;
  opacity: 0.5
}
#f {
  background-color: #aa0000;
  padding: 1px;
  opacity: 0.5
}

#g {
  background-color: #880000;
  padding: 1px;
  opacity: 0.5
}

#h {
  background-color: #770000;
  padding: 1px;
  opacity: 0.5
}

#i {
  background-color: #660000;
  padding: 1px;
  opacity: 0.5
}

#j {
  background-color: #550000;
  padding: 1px;
  opacity: 0.5
}

#k {
  background-color: #440000;
  padding: 1px;
  opacity: 0.5
}

#l {
  background-color: #0000FF;
  padding: 1px;
  opacity: 0.5
}

#m {
  background-color: #0000EE;
  padding: 1px;
  opacity: 0.5
}

#n {
  background-color: #0000dd;
  padding: 1px;
  opacity: 0.5
}


#o {
  background-color: #0000cc;
  padding: 1px;
  opacity: 0.5
}

#p {
  background-color: #0000bb;
  padding: 1px;
  opacity: 0.5
}

#q {
  background-color: #0000AA;
  padding: 1px;
  opacity: 0.5
}

#r {
  background-color: #000088;
  padding: 1px;
  opacity: 0.5
}

#s {
  background-color: #000077;
  padding: 1px;
  opacity: 0.5
}

#u {
  background-color: #000066;
  padding: 1px;
  opacity: 0.5
}

#v {
  background-color: #000066;
  padding: 1px;
  opacity: 0.5
}



.right {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.top {
  height: 20%;
  background-color: #7ca1eb
}


#mapid {
      height: 100%;
      width: 60%;
      padding: 10px;
}
